<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div>
      <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %><br>
          <%= link_to "New Post", new_post_path %>
      <% else %>
          <%= link_to "Log in", new_user_session_path %><br>
          <%= link_to "Sign up", new_user_registration_path %><br>

      <% end %>
    </div>
    <br>
    <br>
    <br>
    <%= yield %>
  </body>
</html>
